:root {
  --bg-color: white;
  --elm-color: grey;
  --text-color: black;
}

* body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

code {
  font-family: "Lucida Console", "Courier New", monospace, monospace;
  padding: 0.5em;
}

button code {
  border-radius: 100px;
  border: 0.1em solid;
  border-color: var(--text-color);
  background-color: var(--elm-color);
}

/* Themes */
@media (prefers-color-scheme: light) {
  --bg-color: white;
  --text-color: black;
}
@media (prefers-color-scheme: dark) {
  --bg-color: black;
  --text-color: white;
}
